[submodule "mrbgems/mruby-json"]
	path = mrbgems/mruby-json
	url = git@github.com:mattn/mruby-json.git
[submodule "lib/mruby-polarssl"]
	path = lib/mruby-polarssl
	url = git@github.com:luisbebop/mruby-polarssl.git
[submodule "lib/mruby-mtest"]
	path = lib/mruby-mtest
	url = git@github.com:iij/mruby-mtest.git
[submodule "lib/mruby-pack"]
	path = lib/mruby-pack
	url = git@github.com:iij/mruby-pack.git
[submodule "lib/mruby-io"]
	path = lib/mruby-io
	url = git@github.com:cloudwalkio/mruby-io.git
[submodule "lib/mruby-qrcode"]
	path = lib/mruby-qrcode
	url = git@github.com:sadasant/mruby-qrcode.git
[submodule "lib/mruby-socket"]
	path = lib/mruby-socket
	url = git@github.com:iij/mruby-socket.git
[submodule "lib/mruby-sleep"]
	path = lib/mruby-sleep
	url = git@github.com:matsumoto-r/mruby-sleep.git
[submodule "lib/mruby-dir"]
	path = lib/mruby-dir
	url = git@github.com:cloudwalkio/mruby-dir.git
[submodule "lib/mruby-tempfile"]
	path = lib/mruby-tempfile
	url = git@github.com:iij/mruby-tempfile.git
[submodule "lib/mruby-require"]
	path = lib/mruby-require
	url = git@github.com:iij/mruby-require.git
[submodule "lib/mruby-miniz"]
	path = lib/mruby-miniz
	url = git@github.com:scalone/mruby-miniz.git
[submodule "lib/mruby-json"]
	path = lib/mruby-json
	url = git@github.com:mattn/mruby-json.git
[submodule "lib/mruby-hs-regexp"]
	path = lib/mruby-hs-regexp
	url = git@github.com:masamitsu-murase/mruby-hs-regexp.git
